.calendarTableWrapper {
   background-color: var(--calendar);

   border: 1px solid rgba(220, 227, 229, 0.5);
   border-radius: 8px;
}

.calendarTableStyle {
   width: 100%;
   // max-height: 470px;

   border-spacing: 0;
   border-style: hidden;
   border-radius: 50px;

   @media (min-width: 768px) {
      // max-height: 720px;
   }

   @media (min-width: 1440px) {
      // max-height: 625px;
   }
}
