.btnLight {
  background: transparent;
  border:none;
  position: absolute;
  top: 555px;
  display: block;
}
.btnDark {
  background: transparent;
  border:none;
  position: absolute;
  top: 555px;
  display: block;
  
}
