.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.react-datepicker__header {
   background-color: var(--notheme-color-accent);
   color: var(--notheme-bgColor-primary);

   .react-datepicker__month-select,
   .react-datepicker__year-select {
      background-color: var(--notheme-color-accent);
      border-color: var(--notheme-bgColor-primary);
   }
}

.react-datepicker__header *,
.react-datepicker__month * {
   color: var(--notheme-bgColor-primary);
}

.react-datepicker__month-text:hover,
.react-datepicker__day:hover {
   background-color: var(--notheme-textColor-placeholder);
}

.react-datepicker__day:hover {
   border-radius: 50%;
}

.react-datepicker__month-text[aria-selected="true"],
.react-datepicker__day--selected {
   background-color: var(--notheme-bgColor-primary);
   color: var(--notheme-color-accent);

   box-shadow: 0 0 0 3px var(--notheme-bgColor-primary);

   &:hover {
      background-color: var(--notheme-bgColor-secondary);

      box-shadow: none;
   }
}

.react-datepicker__day--selected {
   border-radius: 50%;
}

.react-datepicker__navigation-icon::before {
   border-color: var(--notheme-bgColor-primary);
   border-width: 1px 1px 0 0;
}
