.section {
    margin-top: 64px;
}

.number {
    color: var(--gooseTrack-color);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    padding-bottom: 14px;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    height: 40px;
    width: 214px;
    height: 56px;
    border-radius: 44px;
    background-color: var(--bgColor-secondary);

    color: var(--gooseTrack-color);

}

.subtitle {
    font-family: Inter;
    font-style: Bold;
    font-size: 32px;
    line-height: 1.25;
    padding-top: 8px;
    padding-bottom: 14px;
}

.subtitleEven {
    padding-top: 0;
}

.descript {

    font-size: 14px;
    line-height: 1.2857;
    margin-bottom: 40px;
    color: var(--textColor-main 90%);
}

@media screen and (min-width: 768px) {
    .number {
        padding-bottom: 14px;
    }

    .descript {
        width: 275px;
        height: 126px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

    }

    .partEven {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}

@media screen and (min-width:1440px) {
    .part {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 228px;
    }

    .partEven {
        flex-direction: row-reverse;
    }

    .descript {
        width: 275px;
        height: 90px;
    }
}