.overlay {
   position: fixed;
   top: 0;
   left: 0;

   width: 100vw;
   height: 100vh;

   z-index: 10;

   animation: show 1s forwards;
}

@keyframes show {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.modalEditWrapper {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: transform 250ms cubic-bezier(0.19, 1, 0.22, 1);

   z-index: 11;

   width: 303px;
   height: 336px;

   background-color: var(--bg-modalEdit);

   padding: 48px 18px 40px 18px;

   border: 1px solid rgba(220, 227, 229, 0.8);
   border-radius: 8px;

   box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);

   // box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.4);

   animation: show 1s forwards;

   @media screen and (min-width: 1440px) {
      transform: translate(0, -50%);
   }
}

.popupForm {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

   & label {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.167;
   }

   & input {
      font-weight: 600;
      font-size: 14px;
      line-height: 1.286;
      color: var(--colorInput-modalEdit);
   }
}

.titleLabel {
   width: 100%;

   color: var(--colorTitle-modalEdit);

   font-weight: 500;
   font-size: 12px;
   line-height: 1.167;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 8px;

   margin-bottom: 16px;

   @media screen and (min-width: 768px) {
      margin-bottom: 18px;
   }

   & input {
      width: 100%;
      height: 42px;

      background-color: var(--bgInput-modalEdit);

      padding: 12px 14px;

      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 8px;

      transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);

      @media screen and (min-width: 768px) {
         width: 100%;
         height: 46px;

         padding: 14px 18px;
      }

      &:hover {
         border: 1px solid #4096ff;
      }

      &:focus {
         box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
         border-inline-end-width: 1px;
      }
   }
}

.timePickersWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;

   margin-bottom: 16px;

   @media screen and (min-width: 768px) {
      gap: 14px;

      margin-bottom: 28px;
   }
}

.timePickerLabel {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 8px;
}

.timePicker {
   position: relative;
   height: 42px;

   background-color: var(--bgInput-modalEdit);

   font-family: inherit;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.286;

   border: 1px solid rgba(255, 255, 255, 0.15);

   input[name="start"],
   input[name="end"] {
      color: var(--colorInput-modalEdit);
   }

   &:hover {
      border: 1px solid #4096ff;
   }

   @media screen and (min-width: 768px) {
      height: 46px;

      padding: 14px 18px;
   }
}

.radioGroup {
   display: flex;
   align-items: center;
   gap: 16px;

   width: 178px;

   margin-bottom: 32px;
}

.radioButton {
   display: flex;
   align-items: center;
   gap: 6px;

   label {
      position: relative;

      color: var(--colorInput-modalEdit);

      font-weight: 600;

      padding-left: 16px;

      cursor: pointer;

      &:before {
         content: "";

         position: absolute;
         left: 0;
         top: 50%;

         width: 10px;
         height: 10px;

         box-sizing: border-box;
         display: block;

         margin-right: 10px;
         border-radius: 50%;

         transform: translateY(-50%);
         transition: 100ms cubic-bezier(0.19, 1, 0.22, 1);
      }
   }

   label[id="low"] {
      &:before {
         background-color: #72c2f8;
      }
   }

   label[id="medium"] {
      &:before {
         background-color: #f3b249;
      }
   }

   label[id="high"] {
      &:before {
         background-color: #ea3d65;
      }
   }

   input.radioInput {
      display: none;

      &:checked {
         background-color: red;
      }
   }

   input:checked + label:before {
      width: 8px;
      height: 8px;

      box-sizing: content-box;
      padding: 0.7px;

      background-clip: content-box;
   }

   input:checked + label[id="low"]:before {
      border: 1.3px solid rgba(114, 194, 248, 0.3);
   }

   input:checked + label[id="medium"]:before {
      border: 1.3px solid rgba(243, 178, 73, 0.3);
   }

   input:checked + label[id="high"]:before {
      border: 1.3px solid rgba(234, 61, 101, 0.3);
   }
}

.buttonWrapper {
   width: 100%;

   display: flex;
   justify-content: space-between;

   &:active {
      transform: translateY(3px);
   }

   @media screen and (min-width: 768px) {
      gap: 14px;
   }
}

.btnEdit {
   position: relative;

   width: 100%;
   height: 42px;

   background: var(--notheme-color-accent);
   color: #ffffff;

   font-weight: 600;
   font-size: 14px;
   line-height: 1.286;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;

   border: none;
   border-radius: 8px;

   box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);

   cursor: pointer;

   &:active {
      transform: translateY(3px);
   }

   .modalIcon {
      min-width: 15px;
      height: 15px;

      background-image: url("../../../../images/edit.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }
}

.closeBtn {
   position: absolute;
   top: 10px;
   right: 14px;

   width: 20px;
   height: 20px;

   border: none;
   border-radius: 50%;

   background-color: transparent;

   stroke: var(--color-btnClose-modalEdit);

   cursor: pointer;

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      transform: rotateZ(90deg);
      border: 2.5px solid rgba(114, 194, 248, 0.7);
   }
}

.title,
.start,
.end {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.167;

   color: rgba(52, 52, 52, 0.8);
}

.title {
   width: 26px;
   height: 14px;
}

.start {
   width: 29px;
   height: 14px;
}

.end {
   width: 22px;
   height: 14px;
}
