.taskslistSWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
    height: 376px;
    display: true;
    background: var(--scroll-color);
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--outlet-background-color);
    border-radius: 12px;
  }
  @media screen and (min-width: 768px) {
    gap: 18px;
  }
}
