.backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 303px;
	height: 336px;
	padding: 48px 18px 40px 18px;

	border: 1px solid rgba(220, 227, 229, 0.8);
	box-shadow: 0px 4px 16px rgba(17, 17, 17, 0.1);
	border-radius: 8px;
}

.popupForm {
	margin-top: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	& label {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
	}

	& input {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		color: #616161;
	}
}

.titleLabel {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 12px;
	line-height: 14px;

	& input {
		width: 100%;
		height: 42px;
		background: #f7f7f7;
		border-radius: 8px;
		border: none;
		padding: 12px 14px;
		outline: none;
		transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);

		&:hover {
			border: 1px solid #4096ff;
		}

		&:focus {
			box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
			border-inline-end-width: 1px;
		}
	}
}

.timePickersWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 16px;
}

.timePickerLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;

}

.timePicker {
	position: relative;
	height: 42px;
	background-color: #f7f7f7;
	border: none;

	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #616161;

	input[name='start'],
	input[name='end'] {
		color: #616161;
	}

	&:hover {
		border: 1px solid #4096ff;
	}
}

.radioGroup {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 178px;
	margin-bottom: 32px;
}

.radioButton {
	display: flex;
	align-items: center;
	gap: 6px;

	label {
		position: relative;
		padding-left: 16px;
		font-weight: 600;
		color: #616161;
		cursor: pointer;

		&:before {
			content: '';
			box-sizing: border-box;
			display: block;
			width: 10px;
			height: 10px;
			margin-right: 10px;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: 100ms cubic-bezier(0.19, 1, 0.22, 1);
		}
	}

	label[id='low'] {
		&:before {
			background-color: #72c2f8;
		}
	}

	label[id='medium'] {
		&:before {
			background-color: #f3b249;
		}
	}

	label[id='high'] {
		&:before {
			background-color: #ea3d65;
		}
	}

	input.radioInput {
		display: none;

		&:checked {
			background-color: red;
		}
	}

	input:checked+label:before {
		box-sizing: content-box;
		padding: 0.7px;
		width: 8px;
		height: 8px;
		background-clip: content-box;
	}

	input:checked+label[id='low']:before {
		border: 1.3px solid rgba(114, 194, 248, 0.3);
	}

	input:checked+label[id='medium']:before {
		border: 1.3px solid rgba(243, 178, 73, 0.3);
	}

	input:checked+label[id='high']:before {
		border: 1.3px solid rgba(234, 61, 101, 0.3);
	}
}

.buttonWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.submitButton {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 135px;
	height: 42px;
	background: #3e85f3;
	border-radius: 8px;
	color: #fff;

	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	border: none;
	cursor: pointer;

	span {
		width: 18px;
		height: 18px;
		// background-image: url('../../images/taskPopUp/add.png');
		background-repeat: no-repeat;
		background-position: center;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: #3498db;
		transition: width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&:hover {
		transform: translateY(-4px);
	}

	&:hover::after {
		width: 100%;
	}
}

.cancelButton {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 118px;
	height: 42px;

	background: #efefef;
	border-radius: 8px;
	border: none;
	cursor: pointer;

	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #111111;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		right: 0;
		width: 0;
		height: 2px;
		background-color: #DA1414;
		transition: width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&:hover {
		transform: translateY(-4px);
	}

	&:hover::after {
		width: 100%;
	}
}

.closeButton {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 20px;
	height: 20px;
	border: none;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 250ms ease-in;

	&:hover {
		transform: rotateZ(90deg);
		border: 1px solid rgba(114, 194, 248, 0.7);
	}
}



.title {
	width: 26px;
	height: 14px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;

	color: rgba(52, 52, 52, 0.8);
}

.start {
	width: 29px;
	height: 14px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;

	color: rgba(52, 52, 52, 0.8);
}

.end {
	width: 22px;
	height: 14px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;

	color: rgba(52, 52, 52, 0.8);
}