.choosedMonthWrapper {
   height: calc(100vh - 250px - 82px);

   overflow-y: auto;
   overflow-x: hidden;

   @media (min-width: 768px) {
      height: calc(100vh - 250px - 42px);
   }

   @media (min-width: 1440px) {
      height: calc(100vh - 250px - 32px);
   }

   &::-webkit-scrollbar {
      height: 14px;
      max-width: 360px;

      background: var(--color-owerflow-background);

      border-radius: 12px;
   }
   &::-webkit-scrollbar-thumb {
      background: var(--color-owerflow-tumb);

      border-radius: 12px;
   }
}
