.choosedMonthWrapper {
   height: 47vh;

   overflow-y: auto;
   overflow-x: hidden;

   @media (min-width: 768px) {
      height: 62vh;
   }

   @media (min-width: 1440px) {
      height: 62vh;
   }

   &::-webkit-scrollbar {
      height: 14px;
      max-width: 360px;

      background: var(--color-owerflow-background);

      border-radius: 12px;
   }
   &::-webkit-scrollbar-thumb {
      background: var(--color-owerflow-tumb);

      border-radius: 12px;
   }
}
