@import-normalize; /* bring in normalize.css styles */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ 
:root {
  --bgColor-primary: #FFFFFF;
  --bgColor-secondary: #DCEBF7;
  --bgColor-table: #EAEAEA;
  --bgColor-night-sidebar:#13151A;
  --bgColor-night-main:#171820;
  --bgColor-night-calendar:#21222C;
  --color-accent: #3E85F3;
  --textColor-primary: #111111;
  --textColor-secondary: #616161;
  --textColor-white: #FFFFFF;
  --textColor-placeholder: #DCE3E5;
  --bgColor-range-low:#72C2F8;
  --bgColor-range-medium: #F3B249;
  --bgColor-range-high: #EA3D65;
  --bgColor-btn-AddTask: #E3F3FF;
  --bgColor-btn-AddTask-hover: #CAE8FF;
  --borderColor-colum:rgba(220, 227, 229, 0.8);
  --bgColor-task-cart: #F7F6F9;

}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width:1440px) {
    max-width: 1440px;
    padding: 0 24px;
  }
}