.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-datepicker__header {
  background-color: var(--notheme-color-accent);
  color: var(--notheme-bgColor-primary);
}

.react-datepicker__header *,
.react-datepicker__month * {
  color: var(--notheme-bgColor-primary);
}

.react-datepicker__day:hover {
  color: var(--notheme-color-accent);
}

.react-datepicker__day--selected {
  border-radius: 50%;
  background-color: var(--notheme-bgColor-primary);
  color: var(--notheme-color-accent);
  box-shadow: 0 0 0 3px var(--notheme-bgColor-primary);
  &:hover {
    box-shadow: none;
    background-color: var(--notheme-bgColor-secondary);
  }
}

.weekend-day {
  opacity: 0.4;
}

.react-datepicker__navigation-icon::before {
  top: 15px;
  border-color: var(--notheme-bgColor-primary);
  border-width: 1px 1px 0 0;
  height: 6px;
  width: 6px;
}
