.authSection {
    height: 100vh;
    background-color: var(--notheme-color-accent);
    padding: 32px 0px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.authConteiner {
    max-height: 440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logofoto {
    margin-bottom: 2px;
    width: 142px;
    height: 142px;
}

.logotitle {
    // font-family: "Coolvetica";
    font-weight: 400;
        font-size: 44px;
        line-height: 48px;
    color: var(--notheme-textColor-white);
    margin-bottom: 32px;
    text-align: center;

  & span {
    font-style: italic;
  }
}
.linkWrapper{
        display: flex;
            flex-direction: column;
            gap: 8px;
            justify-content: space-between;
            align-items: center;
            max-height: 268px;
            height: 100%;
        }

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2857;
    gap: 6px;
    background-color: var(--notheme-bgColor-primary);
    width: 131px;
    height: 46px;
    border-radius: 16px;
    border-color: transparent;
    text-decoration: none;
    color: var(--notheme-color-accent);
    
}

.singup {
    color: var(--notheme-textColor-white);
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;

    

}

@media screen and (min-width: 768px) {
    // .authSection{
    //     // padding: 320px 0;
    // }
.logofoto {
   margin-bottom: 0;
    width: 150px;
    height: 149px;
}

    .logotitle {
        // margin-bottom: 40px;
        // font-size: 120px;
        // line-height: 1.25;
        font-weight: 400;
            font-size: 44px;
            line-height: 48px;
            margin-bottom: 32px;
    }
    .linkWrapper {
        flex-direction: row-reverse;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .login{
        font-size: 14px;
        // line-height: 1.2857;
        padding: 14px 33.5px;

        display: flex;
        gap: 6px;

        background: var(--notheme-bgColor-primary);
            box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
            border-radius: 16px;
    }
        .logSpan {
            font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -0.02em;
        }
        .logIcon {
            width: 13.5px;
            height: 13.5px;

        }
    .singup{
        font-size: 14px;
        line-height: 1.2857;}
}

@media screen and (min-width:1440px) {
    .authSection {
        padding: 200px 0;
    }
        .logotitle {

    margin-bottom: 40px;
        font-size: 120px;
        line-height: 1.25;
        }
}
